<div class="fixed-bg top-image-grayscale">
  <div class="intro">
    <img src="<%= asset_path 'sasaco-fulllogo-black.001.png' %>" />
  </div>
</div>
<!-- <div class="scroll-bg bg-color01"> -->
<div class="scroll-bg bg-color01">
  <div class="content">
    <h1>sasacoとは</h1>
    <p>sasacoは東京都渋谷区の北西部に位置する地区【 笹塚 】のお気に入りのスポットやショップなどの情報を<br/>写真投稿でシェアするコミュニティサービスです。</p>
    <p>笹塚に住んでいる・いないに関わらず笹塚が好きな方なら誰でも利用できます！</p>
  </div>
</div>
<div class="fixed-bg top-image">
  <div class="signin-content">
    <h1>あなたも一緒に笹塚の推しスポットを見つけよう！</h1>

    <%= link_to new_user_registration_path, class: "top-singin-btn" do %>
    <i class="fas fa-user-plus"></i> SIGN UP!
    <% end %>
  </div>
</div>
