<div class="fixed-bg top-image-grayscale">
  <h1>sasaco</h1>
  <h3>sasazuka community.</h3>
  <p>ここに紹介文</p>
</div>
<div class="scroll-bg bg-color01">
  <div class="fixed-bg-content">
    <h1>笹塚って？</h1>
    <p>笹塚の紹介文</p>
  </div>
</div>
<div class="fixed-bg top-image">
  <h1>sasacoって？</h1>
  <p>sasaco紹介文</p>
</div>
<div class="scroll-bg bg-color02">
  <div class="fixed-bg-content">
    <a href="#" class="top-singin-btn">
      <i class="fas fa-user-plus"></i>
      無料会員登録
    </a>
  </div>
</div>
