<div class="top-container">
  <section class="area">
    <h1>sasaco</h1>
    <h3>sasazuka community.</h3>
    <p>ここに紹介文</p>
  </section>
  <section class="area">
    <h1>笹塚って？</h1>
    <p>笹塚の紹介文</p>
  </section>
  <section class="area">
    <h1>sasacoって？</h1>
    <p>sasaco紹介文</p>
    <a href="#" class="btn-gradient-radius">
      <i class="fas fa-user-plus"></i>
      無料会員登録
    </a>
  </section>
</div>
