<div class="post-index-wrapper">
  <% @posts.each do |post| %>
    <div class="container">
      <%= link_to post_path(post.id) do %>
        <%= image_tag post.image.url, class: 'image' %>
      <% end %>
    </div>
  <% end %>
</div>

<!-- <section class="cards">
  <article>
    <img class="article-img" src="thumbnail.jpg" alt=" " />
    <h1 class="article-title">
      Title of article
    </h1>
  </article>
  <article>
    <img class="article-img" src="thumbnail.jpg" alt=" " />
    <h1 class="article-title">
      Title of article
    </h1>
  </article>
  ...
  ...
</section> -->
