body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
margin: 0;
color: #333;
font-size: 15px;
}

/* header ============================= */
nav {
  background-color: #fff;
}

nav ul {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 0;
  padding: 6px;
  list-style-type: none;
}

ul li {
  display: inline;
  vertical-align: middle;
  color: #333;
  font-size:15px;
  text-decoration:none;
}

li.menu-link {
  margin: auto 15px;
}

nav li.menu-logo {
  margin-right: auto;
}

.logo {
  height: 60px;
  width: 150px;
}

/* notice alert ================================ */

.notice {
    text-align: center;
    color: #fff;
    background-color: lightBlue;
  }

  .alert {
    text-align: center;
    color: #fff;
    background-color: alert_orange;
  }

/* top ================================ */

h1, h2, h3, h4, p {
  margin: 0;
}

.fixed-bg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.top-image-grayscale {
  background-image: url(sasazuka-image.png);
  filter: grayscale(100%);
  background-position-y: 20%;
}

.top-image {
  background-image: url(sasazuka-image.png);
  background-position-y: 20%;
}

.intro {
  padding: 130px 10px;
}

.scroll-bg {
  height: 750px;
}

.bg-color01 {
  background:#eee;
}

.bg-color02 {
  background:#ccc;
}

.content h1 {
  padding: 40px;
  padding-bottom: 0;
}

.content p {
  font-size: 20px;
  padding: 40px;
  padding-bottom: 0;
}

.content {
  height: 550px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 100px;
  margin: auto;
}

.signin-content {
  height: 500px;
  width: 80%;
  position: relative;
  top: 100px;
  margin: auto;
  text-align: center;
}

.signin-content h1 {
  color: #fff;
  position: relative;
  top: 200px;
}

.top-singin-btn {
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  width: 30%;
	margin: 8px 0;
	padding: 15px;
	transition: 0.3s;
  text-decoration: none;
  position: relative;
  top: 220px;
}

/* devise/regidtrations ================================ */

.register-container {
  width: 350px;
  padding: 20px;
  margin: 0 auto;
}

.register-title {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.field {
  margin-bottom: 15px;
}

em {
  font-style: normal;
}

.register-field {
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 6px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.register-field:focus {
	border-color: #00c4cc;
}

input[type=text] {
	padding-left: 15px;
}

input[type=email] {
	padding-left: 15px;
}

input[type=password] {
	padding-left: 15px;
}

.register-submit {
  background-color: #00c4cc;
  border: 1px solid #00c4cc;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 50px;
  width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
  text-decoration: none;
}

.sns-register p {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid;
}
.sns-register ul {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 6px;
  list-style-type: none;
}

.btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #FFFFFF;
  background: #008DDD;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.facebook-btn {
  color: #FFF;
  background-color: #1877f2;
  border-color: #1877f2;
}

.twitter-btn {
  color: #FFF;
  background-color: #00acee;
  border-color: #00acee;
}

.google-btn {
  color: #FFF;
  background-color: #DD5144;
  border-color: #DD5144;
}

.register-login,.unregister,.back-to-top {
  margin-top: 20px;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid;
}

a {
  text-decoration-line: none;
  color: #333;
}
